# Check this in to version control with sensitive data as dummy values
ups:
  access_license_number: 1A2B33G45CC98765
  user_id: upsuser
  password: upspass
  sender_zip: "98115"
  sender_country: US
  sender_city: Seattle
  sender_state: WA
