all:
  sender_zip: "98105"
  sender_country: US
  sender_city: Seattle
  sender_state: WA
ups:
  access_license_number: 1A2B33G45CC98765
  user_id: upsuser
  password: upspass
usps:
  user_id: uspsuser
fedex:
  account_number:
  password:
  key:
  meter_number:
  test_account_number: 
  test_password: 
  test_key: 
  test_meter_number: 
  
